@charset "UTF-8";
#wrap {
  /* width: 100vh; */
  width: 90%;
}
.container {
  width: 1228px;
  width: 80%;
  margin: 0 auto;
}
body {
  background-color: #000;
  height: 8000px;
}
/* Header */
/* Logo and GNB */
header .logo_gnb {
  padding-top: 21px;
}
header img {
  width: 130px;
  height: 35px;
  margin-left: 21px;
  float: left;
}
header .menu_icon {
  color: #e00219;
  float: right;
  font-size: 24.75px;
}

/* Main Swiper */
#main_swiper {
  width: 100%;
  height: 62%;
}
.slide1,
.slide2,
.slide3 {
  width: 1440px;
  height: 890px;
}
.slide1 {
  background: url(../images/main_slide_img01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.slide2 {
  background: url(../images/main_slide_img02.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.slide3 {
  background: url(../images/main_slide_img03.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.swiper_btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.btn {
  position: relative;
  background-color: #e00219;
  border-radius: 4em;
  font-size: 1rem;
  color: white;
  padding: 0.8em 1.8em;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  margin-right: 20px;
  width: 145px;
  height: 44px;
}

.btn:hover {
  transition-duration: 0.1s;
  background-color: #fff;
  color: #e00219;
}

.btn:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 20px #e00219;
}

.btn:active:after {
  box-shadow: 0 0 0 0 #e00219;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.btn:active {
  top: 1px;
}

/* Main Contents */
/* Top Anime List Section */
/* TOP ANIME TITLE */
.top_anime h2 {
  font-family: "Roboto", sans-serif;
  width: max-content;
  margin-left: 67px;
  margin-top: 43px;
  margin-bottom: 52px;
  padding: 36px 0;
  color: #e00219;
  font-size: 1.5em;
  border-bottom: 2px solid #e00219;
}


/* Banner1 */
.top_anime_list1, .top_anime_list1 {
  list-style: none;
}
.top_anime_list1 img {
  width: 225px;
  height: 316px;
  border-radius: 20px;
}
.top_anime_banner1 {
  overflow: hidden;
  display: flex;
  /* max-width: 1920px; */
  margin: 30px auto;
}
.top_anime_banner1 .top_anime_list1 {
  display: flex;
}
.top_anime_banner1 .top_anime_list1 > li {
  /* white-space: nowrap;
  font-size: 18px;
  color: #fff; */
  padding: 20px;
}


/* Banner2 */
.top_anime_list2, .top_anime_list2 li {
  list-style: none;
}
.top_anime_list2 img {
  width: 225px;
  height: 316px;
  border-radius: 20px;
}
.top_anime_banner2 {
  overflow: hidden;
  display: flex;
  /* max-width: 1920px; */
  margin: 30px auto;
}
.top_anime_banner2 .top_anime_list2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.top_anime_banner2 .top_anime_list2 > li {
  /* white-space: nowrap;
  font-size: 18px;
  color: #fff; */
  padding: 20px;
}

/* QNA TAB */
.qna_list li{
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: 550;
  color: #fff;
}
.question{
  padding: 20px;
}
.answer{
  padding-top: 10px;
  border-top: 1px solid #fff;
  display: none;
}
.question_container{
  padding-bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.fa-plus{
  transition: all 0.2s;
}
.on{
  display: block;
}
.question {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.question:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #E00219, #B45A00, #757C00, #008D00, #00965E, #009BAC, #EDE9D0, #00BEC4);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes flowLeftRolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes flowRightRolling {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Reactive */
@media screen and (max-width: 768px) {
  /* 58.63192182410423 */
  .container {
    width: 720px;
    width: 93.75%;
  }
  .slide1,
  .slide2,
  .slide3 {
    width: 768;
    height: 496px;
  }
  
  .top_anime_banner1, .top_anime_banner2 {
    width: 750px;
    width: 90%;
    margin: 20px auto;
  }
  .top_anime_list1 img, .top_anime_list2 img {
    /* 0.1832247557003257 */
      width: 225px;
      height: 316px;
      width: 125px;
      height: 202.25px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 393px;
    width: 92%;
  }
  .slide1,
  .slide2,
  .slide3 {
    width: 425px;
    /* width: 100%; */
    height: 496px;
    /* height: 60%; */
  }
}
