@charset "UTF-8";

/* Main Swiper */
#main_swiper {
  width: 100%;
}
.slide1,
.slide2,
.slide3 {
  width: 1440px;
  height: 890px;
}
.slide1 {
  background: url(../images/main_slide_img01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.slide2 {
  background: url(../images/main_slide_img02.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.slide3 {
  background: url(../images/main_slide_img03.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.swiper_text {
  width: 70%;
  color: #fff;
  margin-top: 250px;
}
.slide3 .swiper_text{
  width: 80%;
}
.slide3 .swiper_text h1{
  font-size: 50px;
}
.swiper_text h1{
  font-size: 70px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 90px;
}
.swiper_btn {
  margin-top: 50px;
}

.btn {
  position: relative;
  background-color: #e00219;
  border-radius: 4em;
  font-size: 1rem;
  color: white;
  padding: 0.8em 1.8em;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  margin-right: 20px;
  width: 145px;
  height: 44px;
}

.btn:hover {
  transition-duration: 0.1s;
  background-color: #fff;
  color: #e00219;
}

.btn:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 20px #e00219;
}

.btn:active:after {
  box-shadow: 0 0 0 0 #e00219;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.btn:active {
  top: 1px;
}

/* Main Contents */
main h2{
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  width: max-content;
}

/* Top Anime List Section */
.top_anime{
  margin-top: 50px;
}
/* Banner1 */
.top_anime_list1,
.top_anime_list1 {
  list-style: none;
}
.top_anime_list1 img {
  width: 225px;
  height: 316px;
  border-radius: 20px;
}
.top_anime_banner1 {
  overflow: hidden;
  display: flex;
  /* max-width: 1920px; */
  margin: 30px auto;
}
.top_anime_banner1 .top_anime_list1 {
  display: flex;
}
.top_anime_banner1 .top_anime_list1 > li {
  /* white-space: nowrap;
  font-size: 18px;
  color: #fff; */
  padding: 20px;
}

/* Banner2 */
.top_anime_list2,
.top_anime_list2 li {
  list-style: none;
}
.top_anime_list2 img {
  width: 225px;
  height: 316px;
  border-radius: 20px;
}
.top_anime_banner2 {
  overflow: hidden;
  display: flex;
  /* max-width: 1920px; */
  margin: 30px auto;
  margin-bottom: 100px;
}
.top_anime_banner2 .top_anime_list2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.top_anime_banner2 .top_anime_list2 > li {
  /* white-space: nowrap;
  font-size: 18px;
  color: #fff; */
  padding: 20px;
}

/* Provided Service Section */
.provided_service {
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.provide_service_text {
  padding: 24px 16px;
  margin-left: 0px;
}
.provide_service_text h3 {
  font-weight: 550;
  font-size: 20px;
  margin-bottom: 20px;
}
.provide_service_text p {
  line-height: 1.5;
}
.provide_service1,
.provide_service2,
.provide_service3,
.provide_service4 {
  width: 24%;
  height: 369px;
  background: linear-gradient(135deg, #00bec4, #ff967a 75%, #e00219 100%);
  border-radius: 25px;
  text-align: left;
  position: relative;
}
.provided_service img {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* QNA TAB */
.qna_list{
  margin-top: 50px;
}
.qna_list li {
  margin-bottom: 10px;
  /* font-size: 1.5em;
  font-weight: 550; */
  color: #fff;
}
.question {
  padding: 20px;
}
.question h2{
  font-size: 20px;
}
.answer {
  padding-top: 10px;
  border-top: 1px solid #fff;
  display: none;
}
.question_container {
  padding-bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.fa-plus {
  transition: all 0.2s;
}
.on {
  display: block;
}
.question {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
}
.question:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #e00219,
    #b45a00,
    #757c00,
    #008d00,
    #00965e,
    #009bac,
    #ede9d0,
    #00bec4
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
.answer{
  line-height: 1.5;
  padding-bottom: 5px;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes flowLeftRolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes flowRightRolling {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Reactive */
@media screen and (max-width: 1024px) {
  .provide_service1,
  .provide_service2,
  .provide_service3,
  .provide_service4 {
    width: 49%;
    height: 200px;
  }
  .provide_service1,
  .provide_service2 {
    margin-bottom: 20px;
  }
  .provide_service_text {
    width: 80%;
  }
  .provided_service img {
    position: absolute;
    right: -25px;
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .slide1,
  .slide2,
  .slide3 {
    width: 768px;
    height: 496px;
  }
  .swiper_text {
    /* width: 50%; */
    margin-top: 100px;
  }
  
  .swiper_text h1{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  .swiper_text p{
    font-size: 14px;
  }
  
  .btn {
    position: relative;
    background-color: #e00219;
    border-radius: 4em;
    font-size: 0.7rem;
    color: white;
    padding: 0.8em 1.8em;
    cursor: pointer;
    width: 100px;
    height: 30px;
  }
  /* --- */
  .top_anime_banner1,
  .top_anime_banner2 {
    width: 750px;
    width: 90%;
    margin: 20px auto;
  }
  .top_anime_list1 img,
  .top_anime_list2 img {
    /* 0.1832247557003257 */
    width: 225px;
    height: 316px;
    width: 125px;
    height: 202.25px;
  }

  /* Provided Service Section */
  .provide_service1,
  .provide_service2,
  .provide_service3,
  .provide_service4 {
    width: 100%;
    margin-bottom: 30px;
  }

  .provided_service img {
    right: -15px;
  }  
}
@media screen and (max-width: 480px) {
  .slide1,
  .slide2,
  .slide3 {
    width: 425px;
    height: 496px;
  }
}
