@charset "UTF-8";

/* Main Contents */
main{
  margin-top: 100px;
}
main h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Animes */
.tv_animes,
.movie_animes,
.ova_animes {
  display: flex;
  flex-shrink: 1;
  flex-flow: row wrap;
  justify-content: start;
  margin-bottom: 50px;
}
.box {
  padding: 15px;
  --borderWidth: 3px;
  background: #000;
  position: relative;
  border-radius: var(--borderWidth);
}
.box:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #e00219,
    #b45a00,
    #757c00,
    #008d00,
    #00965e,
    #009bac,
    #ede9d0,
    #00bec4
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .anime {
  text-align: center;
  width: 19.2%;
  margin-right: 1%;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 15px;
} */
 .anime{
  width: 19.2%;
  margin-right: 1%;
  text-align: center;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 5px;
 }
 .anime img{
  width: 120px;
  height: 194.16px;
 }
.anime p{
  color: #fff;
  font-size: 1em;
  font-weight: 550;
}
.anime:nth-of-type(5n) {
  margin-right: 0;
}
.anime:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s;
}
/* Reactive */
@media screen and (max-width: 1024px) {
  .anime img{
    width: 100px;
    height: 161.8px;
   }
}

@media screen and (max-width: 768px) {
  .anime img {
    width: 91px;
    height: 147.238px;
  }
  .anime p{
    color: #fff;
    font-size: 0.7em;
    font-weight: 550;
  }
}
@media screen and (max-width: 480px) {
  .anime {
    text-align: center;
    width: 32%;
    margin-right: 2%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
  }
  .anime img {
    width: 100%;
    height: 113.26px;
  }
  .anime p{
    color: #fff;
    font-size: 1em;
    font-weight: 550;
  }
  .anime:nth-of-type(5n) {
    margin-right: 2%;
  }
  .anime:nth-of-type(3n) {
    margin-right: 0;
  }
}
